[Unit]
Description=HAUM's agenda microservice
After=mutli-user.target
Requires=multi-user.target

[Service]
Type=simple
User=hms_agenda
ExecStart=/home/hms_agenda/hms_agenda/systemd/run.sh
Restart=on-failure
RestartSec=360

[Install]
WantedBy=multi-user.target